apiVersion: v1
kind: Secret
metadata:
  name: redis-password
  namespace: shahin-grc
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/component: cache
type: Opaque
stringData:
  REDIS_PASSWORD: "Redis@GRC2026!"
  REDIS_CONNECTION: "redis-master:6379,password=Redis@GRC2026!,abortConnect=false,connectTimeout=5000"
