@model string

@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture;
    var isRtl = culture.TextInfo.IsRightToLeft;
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
}

<div class="input-group grc-email-editor">
    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
    <input type="email"
           id="@fieldName"
           name="@fieldName"
           value="@Model"
           class="form-control"
           placeholder="@(isRtl ? "example@domain.com" : "example@domain.com")"
           pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" />
</div>
