name: ci

on:
  push:
    branches:
      - "main"
      - "staging"

jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "drdogan/dogancloudbuilder1"
      - name: Build and push Backend
        uses: docker/build-push-action@v6
        with:
          context: ./src/GrcMvc
          file: ./src/GrcMvc/Dockerfile.production
          tags: "${{ vars.DOCKER_USER }}/grc-backend:latest"
          outputs: ${{ github.event_name == 'pull_request' && 'type=cacheonly' || 'type=registry' }}
